<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "au.com.smilesim"
        version     = "1.0.5" >

    <!-- versionCode is optional and Android only -->

    <name>SmileSim</name>

    <description>
        Cosmetic Dental Simulation
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Jonathan Kur 
    </author>
 <preference name='phonegap-version' value='cli-6.5.0' />
<platform name="android">
 <icon src="icon.png" />
 <preference name="android-minSdkVersion" value="15" />
 
</platform>
<platform name="ios">
 <icon src="icon.png" />
 <icon src="icon57.png" width="57" height="57" />
 <icon src="icon72.png" width="72" height="72" />
 <icon src="icon76.png" width="76" height="76" />
 <icon src="icon120.png" width="120" height="120" />
 <icon src="icon152.png" width="152" height="152" />
</platform>
<plugin name="cordova-plugin-camera">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Allow the app to use your camera" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Allow the app to access your photos" />
    </plugin>
<plugin name="cordova-plugin-barcodescanner">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="Allow the app to use your camera" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="Allow the app to access your photos" />
    </plugin>
 
<plugin name="onesignal-cordova-plugin" source="npm"  spec="2.4.5"  />
<access origin="http://code.jquery.com" subdomains="true" />
<access origin="http://smilesim.com.au" subdomains="true" />
<edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    <string>need camera access to take pictures</string>
</edit-config>
<edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
    <string>need camera access to take pictures</string>
</edit-config>

</widget>